<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

DataScienceEcosystem

This is the introdcution of my Peer_graded assignment. It was about testing the ability to use jupyter-notebook

Data Science Languages

+Python

+R 

+SQL

Data Science Libraries

+Pandas


+NumPy


+Matplotlib


+Seaborn


+Scikit-learn

Data Science Tools

-Jupyter notebook


-Tableau


-Rstudio


-Apache Hadoop


-KNIME

Arithmetic express 

like (+) : 3 + 4 = 7

Code cell multiply and add number

In [2]:
#multiply
m1 = 2
m2 = 5 
ttmul = m1 * m2 
print(ttmul)

#addition
a1 = 3
a2 = 4 
ttadd = a1 + a2
print(ttadd)

10
7

Code cell to convert minutes to hours

In [5]:
mins = 30
hours = 60
con = mins/hours
print(con)

0.5

**List Objectives**

Data Science Languages

Data Science Tools

Arithmetic express

**Author's name**

**Nguyen Khac Vuong**